@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Roberto:400,300,700");


@media only screen and (min-width: 576px) {
  .t {
    display: none;
  }
  .e {
    display: none;
  }
}

#projects {
  display: none;
}

.b {
  display: none;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  font-size: 40px;
  margin-left: -4px;
}

.experiences {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-left: -4px;
}

.projects {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 35px;
  display: block;
  margin: auto;
  text-align: center;
  
}

.paragraph {
  font-family: 'Roberto', sans-serif;
  font-size: 18px;
}

.tools {
  font-size: 1.6vmax;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: -65px;
  margin-bottom: 5px;
  padding-top: 80px; 
}

.techbox {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}

body {
  background-color: white;
  font-family: 'Roberto', sans-serif;
  padding-bottom:25px;
}

.content {
  max-width: 960px;
  margin: auto;
}

img {
  margin-top: 20px;
  display: block;
  height: 250px;
}

.image {
  flex-shrink: 0;
}

label {
  color: white;
  padding: 4px;
  font-family: 'Roberto', sans-serif;
  font-size: 10px;
}

.green {background-color: #658d6d; margin: 1.5px auto; margin-left: -1.5px; margin-right: -1.5px;}
.yellow {background-color: #e3c565; margin: 1.5px auto; margin-left: -1.5px; margin-right: -1.5px;}
.red {background-color: #CB4C4E; margin: 1.5px auto; margin-left: -1.5px; margin-right: -1.5px;}

.col-sm-4 {
  float: right;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-bottom: 40px;
  z-index: 1000;
}

.btn-primary{
  margin-left: 1px;
  margin-right: 1px;
  z-index: 1;
}

.copyright {
  position: fixed; 
  bottom: 5px;
  left: 5px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
}

.title {
  color: grey;
  font-size: 18px;
}

.view {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.view:hover {
  opacity: 0.7;
}

body {
  background-color: white;
  font-family: 'Roberto', sans-serif;
  padding-bottom:25px;
}

footer {
  bottom: 0;
  color: #707070;
  line-height: 2em;
  padding: 0.5em 0;
  font-size: small;
  width:100%;
}

html {
  position:relative;
  min-height:100%;
}