
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Roberto:400,300,700");

.name {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.tools {
  font-size: 25px;
}

body {
  background-color: white;
  font-family: 'Roberto', sans-serif
}

.content {
  max-width: 960px;
  margin: auto;
}

img {
  display: block;
  max-width: 60%;
  height: auto;
}

label {
  color: white;
  padding: 8px;
  font-family: 'Roberto', sans-serif;
  font-size: 12px;
}

.green {background-color: #04AA6D; margin: 3px auto;} /* Green */
.blue {background-color: #2196F3; margin: 3px auto;} /* Blue */
.yellow {background-color: #ff9800; margin: 3px auto;} /* Orange */
.red {background-color: #f44336; margin: 3px auto;} /* Red */


.col-sm-4 {
  float: right;
}

