@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700");

main {
    padding-top: 80px;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 40px;
    z-index: 1000;
}

.profile-card {
    text-align: center;
}

#social {
    display: flex;
    width: 100%;
    justify-content: center;
}

#social .btn-primary {
    flex: 1;
    margin: 0 1px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.fa, .fas {
    line-height: 1;
}

.tools {
    font-size: 1.6vmax;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.techbox {
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
}

.techbox label {
    display: inline-block;
    margin: 2px 0;
    padding: 5px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    border-radius: 3px;
    color: white;
    white-space: nowrap;
}

.green {
    background-color: #658d6d;
}

.yellow {
    background-color: #e3c565;
}

.red {
    background-color: #CB4C4E;
}

.paragraph {
    font-size: 18px;
    margin-top: -20px;
}

img.profile-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 19% center;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 65px;
}

html {
    position: relative;
    min-height: 100%;
}

@media only screen and (min-width: 576px) {
    .t {
        display: none;
    }

    .exp {
        display: none;
    }

    .edu {
        display: none;
    }
}