
  {{ define "main" }}
    <a name="top">
      <h2 style="padding-top: 55px; margin-top: -55px;"></h2>
    </a>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#top">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item b">
                  <a class="nav-link" href="">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link t" href="#t">Tools & Tech</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link e" href="#e">Experience</a>
                </li> 
              </ul>
            </div>  
    </header>
        </nav>
        <section class="intro" id="aboutme">
            <div class="container" style="margin-top:60px">
            <div class="row">
                   <div class ="col-sm-4">
                          <div class="row justify-content-center">
                            <img class="img" src="/img/myself.JPEG" alt="Pircture of author, Matthew Gerace"/>
                          </div>
                        <div id="social" class="row justify-content-center">
                        <!-- Twitter -->
                        <a class="btn btn-primary" style="background-color: #55acee; border-color: #55acee;" href="https://twitter.com/matthewjgerace" role="button"><i class="fa fa-twitter"></i></a>
        
                        <!-- Linkedin -->
                        <a class="btn btn-primary" style="background-color: #005eca; border-color: #005eca;" href="https://www.linkedin.com/in/matthewgerace/" role="button"><i class="fa fa-linkedin-in"></i></a>
        
                        <!-- Email -->
                        <a class="btn btn-primary" style="background-color: rgb(0, 26, 141); border-color: rgb(0, 26, 141);" href="mailto:mjg5mm@virginia.edu" role="button"><i class="fas fa-envelope-square"></i></a>
        
                        <!-- Github -->
                        <a class="btn btn-primary" style="background-color: #000836; border-color: #000836;" href="https://github.com/mattjgerace" role="button"><i class="fa fa-github"></i></a>
                        </div>
                        <div class="row justify-content-center">
                          <h2 class="tools" id="t">Tools and Technologies</h2>
                        <div class="techbox">
                          <label class="green">TypeScript</label>
                          <label class="green">JavaScript</label>
                          <label class="green">Python</label>
                          <label class="green">Java</label>
                          <label class="green">C#</label>
                          <label class="green">C++</label>
                          <label class="green">PHP</label>
                          <label class="green">HTML</label>
                          <label class="green">CSS</label>
                          <label class="green">Vue</label>
                          <label class="green">Angular</label>
                          <label class="green">Django</label>
                          <label class="green">Github</label>
                          <label class="green">VS Code</label>
                          <label class="green">WSL 2</label>
                          <label class="green">Heroku</label>
                          <label class="green">Travis CI</label>
                          <label class="green">Bootstrap</label>
                          <label class="green">Azure</label>
                          <label class="green">JupyterHub</label>

                          <label class="yellow">React</label>
                          <label class="yellow">AWS</label>
                          <label class="yellow">SQL</label>
                          <label class="yellow">Git</label>
                          <label class="yellow">Linux</label>
                          <label class="yellow">Unix</label>
                          <label class="yellow">Ubuntu</label>
                          <label class="yellow">NetworkX</label>
                          <label class="yellow">NumPy</label>
                          <label class="yellow">Scikit-learn</label>
                          <label class="yellow">Pandas</label>
                          <label class="yellow">Matplotlib</label>
                          <label class="yellow">PyCharm</label>
                          <label class="yellow">graphML</label>
                          <label class="yellow">yED</label>
                          <label class="yellow">Lean</label>
                          <label class="yellow">Google Colab</label>
                          <label class="yellow">Eclipse</label>
                          <label class="yellow">RStudio</label>
                          <label class="yellow">FastX</label>
                          <label class="yellow">MATE</label>
                          <label class="yellow">R</label>
                          <label class="yellow">SAS</label>

                          <label class="red">C</label>
                          <label class="red">GCP</label>
                          <label class="red">x86 Assembly</label>
                          <label class="red">MIPS</label>
                </div>
              </div>
                   </div>
                   <div class ="col-sm-8">
                    <p class="paragraph" style="word-wrap: break-word; width: 90%">
                      {{ .Content }}
                    </p>
                  </div>
            <!--
            <div class="col-sm-12" id="projects">
              <h2 class="projects" style="padding-top: 60px; margin-top: -60px;">Featured Projects</h2>
              <div class="row">
                <div class="card">
                  <img src="images/myself.JPEG" alt="" style="width:100%">
                  <h2>John Doe</h2>
                  <p class="title">CEO & Founder, Example</p>
                  <p>Harvard University</p>
                  <p><button class="view">View</button></p>
                </div>
                <div class="card">
                  <img src="images/myself.JPEG" alt="" style="width:100%">
                  <h2>John Doe</h2>
                  <p class="title">CEO & Founder, Example</p>
                  <p>Harvard University</p>
                  <p><button class="view">View</button></p>
                </div>
                <div class="card">
                  <img src="images/myself.JPEG" alt="" style="width:100%">
                  <h2>Lights Out Game</h2>
                  <p class="title">CEO & Founder, Example</p>
                  <p>Harvard University</p>
                  <p><a class="view" href="https://cs4640.cs.virginia.edu/fl5cde/hw7/">View</a></p>
                </div>
              </div>
            </div>
            -->
          </div>
        </div>
      </section>
      <my-element>Hey Listen!</my-element>
  {{ end }}
